{% extends 'base.html' %}

{% block title %}Welcome{% endblock %}

{% block content %}
    <div class="hero">
        <div class="hero-content">
            <div class="left">
                <h1>I'm developer</h1>
                <h1>Patrick Vilchez</h1>
                <p>I built dynamic web apps with Python and JavaScript using relational databases.</p>
                <a class="btn" href="#contact">Contact me</a>
            </div>

            <div class="right">
                <img src="{{ url_for('static', filename='big-data.png') }}" width="600px" alt="">
            </div>
        </div>
    </div>

    {% include 'portfolio/section-first.html' %}
    {% include 'portfolio/section-second.html' %}
    {% include 'portfolio/section-third.html' %}
{% endblock %}