<div class="center">
    <div class="content">
        <div class="row vertical-pad">
            <div class="left padded">
                <h1>Desarrollo con pasion aplicaciones y sitios web para personas.</h1>
                <p>
                    Constantemente me encuentro aprendiendo nuevas tecnologías y desarrollando aplicaciones por placer.
                    Esta web la construí desde cero con Python y Flask. Y quiero conocer aún más de este mundo.
                </p>
            </div>

            <div class="right padded">
                <h1>Technologies that I'm learning</h1>
                <div class="technologies">
                    <span>HTML/CSS</span>
                    <span>Python</span>
                    <span>JavaScript</span>
                    <span>Django</span>
                    <span>Flask</span>
                    <span>ExpressJS</span>
                    <span>MySQL</span>
                    <span>PostgreSQL</span>
                    <span>MongoDB</span>
                </div>
            </div>
        </div>
    </div>
</div>