<div class="center">
    <div class="content">
        <div class="row vertical-pad">
            <div class="left padded">
                <h1>I develop with passion applications and web sites for people</h1>
                <p>
                    I am constantly learning new technologies and developing applications for pleasure.
                    I built this site from scratch with Python and Flask, and I want to know more about this world 💙
                </p>
            </div>

            <div class="right padded">
                <h1>Technologies I work with</h1>
                <div class="technologies">
                    <span>HTML/CSS</span>
                    <span>Python</span>
                    <span>JavaScript</span>
                    <span>Django</span>
                    <span>Flask</span>
                    <span>ExpressJS</span>
                    <span>MySQL</span>
                    <span>PostgreSQL</span>
                    <span>MongoDB</span>
                </div>
            </div>
        </div>
    </div>
</div>