<div class="center padded">
    <div class="content">
        <div class="row vertical-pad">
            <div class="left padded">
                <h1>Ahora o nunca! Trabajemos juntos -></h1>
                <p>
                    Daré mi mejor esfuerzo para aprender, aportar valor y que tengamos
                    una frúctifera relación a largo plazo.
                </p>
            </div>

            <div id="contact" class="right padded">
                <form action="{{ url_for('portfolio.mail') }}" method="post" class="contact-form">
                    <input type="text" name="name" placeholder="Name" required>
                    <input type="email" name="email" placeholder="Email" required>
                    <textarea name="message" id="message" placeholder="Message" minlength="10"></textarea>

                    <button class="btn full-width">Send</button>
                </form>
            </div>
        </div>
    </div>
</div>