<div class="center padded white-bg" id="projects">
    <div class="content padded">
        <div class="padded">
            <h1>
                Look what i've built
            </h1>
        </div>

        <div class="row">
            <div class="card third">
                <h3>Mailer app</h3>
                <p>An app to send emails using the Sendgrid API.</p>
                <a href="https://github.com/Patrick564/mailer-app" target="_blank" class="orange">Link here</a>
            </div>

            <div class="card third">
                <h3>Contacts Calendar</h3>
                <p>An app to manage contacts using Django.</p>
                <a href="https://github.com/Patrick564/contacts_calendar" target="_blank" class="orange">Link here</a>
            </div>

            <div class="card third">
                <h3>Photo Gallery</h3>
                <p>An app to upload images or photos using Express and Amazon API.</p>
                <a href="https://github.com/Patrick564/photo-gallery" target="_blank" class="orange">Link here</a>
            </div>
        </div>
    </div>
</div>