<div class="center padded">
    <div class="content">
        <div class="row vertical-pad">
            <div class="left padded">
                <h1>Let's work together!</h1>
                <p>
                    I will do my best to learn, add value and that we have a fruitful long-term relationship.
                </p>
            </div>

            <div id="contact" class="right padded">
                <form action="{{ url_for('portfolio.mail') }}" method="post" class="contact-form">
                    <input type="text" name="name" placeholder="Name" required>
                    <input type="email" name="email" placeholder="Email" required>
                    <textarea name="message" id="message" placeholder="Message" minlength="10"></textarea>

                    <button class="btn full-width">Send</button>
                </form>
            </div>
        </div>
    </div>
</div>